@charset "UTF-8";

.collapse {
  justify-content: end; }

.nav-link {
  margin: .50rem; }

.bg-header {
  background: linear-gradient(20deg, #33ed3c 0%, #2b7122 100%); }

footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  text-align: center;
  align-items: center;
  position: relative;
  justify-content: flex-end; }
  footer__redes-sociales {
    display: flex; }
    footer__redes-sociales__link {
      display: flex;
      margin: 0 26px; }
  footer .footer--p {
    color: #fff; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.titulo {
  text-align: center;
  font-size: 3rem;
  padding: .8em .4em; }

.titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .titulos__locacion {
    height: 5rem; }
  .titulos__h1 {
    font-size: 8em;
    color: #fff;
    font-weight: 700px; }
  .titulos__subtitulo {
    color: #fff; }
  .titulos__button {
    padding-right: 2rem; }
  .titulos .btn-outline-light {
    margin: 2rem; }

.main-header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.645), rgba(0, 0, 0, 0.645)), url(../recursos/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/* PÁGINA: "Historia */
.galeria {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 50%);
  grid-template-rows: repeat(1, 50vh);
  grid-template-areas: "img1 img2 img3";
  gap: 20px;
  padding: 2.5rem;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2.5rem; }
  .galeria__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; }
    .galeria__img:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.8); }

/* PÁGINA: Yerba */
.yerba {
  background: linear-gradient(20deg, #49d92c 0%, #33ed5b 100%); }

/*PÁGINA: "CONTACTANOS" */
.formularios {
  padding-top: 10rem;
  padding-bottom: 12rem;
  background: linear-gradient(20deg, #49d92c 0%, #33ed5b 100%); }
  .formularios__div {
    background-color: #eaeaee;
    padding: 3rem; }
    .formularios__div:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
  .formularios input, .formularios label, .formularios textarea {
    padding: .75rem; }

/* TABLET */
@media screen and (min-width: 541px) and (max-width: 810px) {
  .titulos__h1 {
    font-size: 5em;
    font-weight: 500px; } }

/* CELULAR */
@media screen and (min-width: 320px) and (max-width: 540px) {
  .titulo {
    font-size: 2.5rem; }
  .nav__links {
    display: list-item; }
  .titulos__h1 {
    font-size: 5rem;
    font-weight: 350px; }
 }

 .price {
  display: inline-block;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2b2f3e; }
  .price.sale {
    color: #e75854; }
  .price del {
    color: #b0bec5; }

.product .caption {
  margin-top: 15px; }
  .product .caption h6 {
    color: #455a64; }

.product.tumbnail {
  box-shadow: 0 5px 25px 0 transparent;
  transition: 0.3s linear;
  padding-top: 0; }
  .product.tumbnail img:hover {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2); }