$cool-red: #e75854;
$cool-grey: #b0bec5;
$cool-blue: #455a64;

$colors: ("cool-red": #e75854, "cool-grey": #b0bec5, "cool-blue": #455a64, "cool-black": #2b2f3e);

%font{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

@mixin encabezados($tamano) {
    h1 {
        font-size: $tamano;
      }
      h2 {
        font-size: $tamano - 0.2;
      }
      h3 {
        font-size: $tamano - 0.5;
      }
}

@include encabezados(3em);

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.price {
    display: inline-block;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: map-get($colors, cool-black);
    &.sale {
        color: map-get($colors, cool-red);
    }
    del {
        color: map-get($colors, cool-grey);
    }
}

.product {
    @extend %font;
    .caption {
        margin-top: 15px;
        h6 {
            color: $cool-blue;
          }
      }
    &.tumbnail {
        box-shadow: 0 5px 25px 0 transparent;
        transition: 0.3s linear;
        padding-top: 0;
        img{
            &:hover {
                box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
              }
        }
      }  
  }

.nav-scroller{
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    .nav{
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }