$cool-red: #e75854;
$cool-grey: #b0bec5;
$cool-blue: #455a64;


body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.price {
    display: inline-block;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #2b2f3e;
    &.sale {
        color: $cool-red;
    }
    del {
        color: $cool-grey;
    }
}

.product {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    .caption {
        margin-top: 15px;
        h6 {
            color: $cool-blue;
          }
      }
    &.tumbnail {
        box-shadow: 0 5px 25px 0 transparent;
        transition: 0.3s linear;
        padding-top: 0;
        img{
            &:hover {
                box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
              }
        }
      }  
  }